<h1 class="page-header">Sobre</h1>
<p class="lead">Este sistema faz parte do trabalho de formatura supervisionado do aluno Cirillo Ribeiro Ferreira para o <a href="http://ime.usp.br/">Instituto de Matématica e Estátistica</a> da <a href="http://www.usp.br/">Universidade de São Paulo</a>.</p>