
  <span id="viz_panel">
    <div id="sequence" breadcrumb></div>
    <div id="sunburst" sunburst data="data" ng-hide="displayVis"></div>
  </span>
  <!--<div id="perspective-sunburst" sunburstperspective data="data" ng-hide="displayVis"></div>-->

  <div id="docs_viewer" style="margin:50px 0px 0px 550px">
    <div id="content"></div>
    <!--<ul id="pagination" class="pagination-sm"></ul>-->
  </div>

