<ol class="breadcrumb">
  <li><%= link_to 'Home', root_path %></a></li>
  <li class="active">Viewer</li>
</ol>

<div ng-view></div>

<script src="/assets/d3/d3.min.js"></script>
<script src="/assets/angular/angular.js"></script>
<script src="/assets/angular-route/angular-route.js"></script>
<script src="/assets/underscore/underscore.js"></script>
<script src="/assets/viewer/app.js"></script>
<script src="/assets/viewer/routes.js"></script>
<script src="/assets/viewer/services.js"></script>
<script src="/assets/viewer/controllers.js"></script>
<script src="/assets/viewer/filters.js"></script>
<script src="/assets/viewer/directives.js"></script>      
<script src="/assets/viewer/directives/breadcrumb.js"></script>
<script src="/assets/viewer/directives/sunburst-perspective.js"></script>
<script src="/assets/viewer/directives/sunburst.js"></script>  
